.infoCardContainer{
    padding: 10px 150px;
}
.infoCardContainer--card-banner,
.infoCardContainer--card-news{
    height: 80vh;
    background-position: top left;
}


.imageElement--benefits--card_img {
    height: 50px;
    width: 50px;
    padding-top: 15px;
}

.infoCardTextContainer--card-news {
    max-width: 600px;
    justify-self: flex-start;
}